{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "react/prefer-stateless-function": "off",
        "react/jsx-filename-extension": "off",
        "no-console": "off"
    }
}
