@import 'common';
@import '~reset-css';

html, body, #main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Disable user text selection
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}
