@import 'reset-css';
@import 'nord';
@import 'common';

html {
  font-family:
    'Nunito',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Disable user text selection
  user-select: none;
  -webkit-user-select: none;
}

html,
body,
#main {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

:root {
  --color-background: #2e3440;
  --color-background-transparent: #2e344000;
  --color-primary1: #f5487f;
  --color-primary2: #c7417b;
  --color-primary3: #8f3b76;
  --color-white: #ffffff;
  --color-gray: #53617d;

  --font-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}

body {
  background: var(--color-background);
  color: var(--color-white);
  font-size: 100%;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}

.im-fix {
  transform: translateY(0.1rem);
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.font-display {
  font-family:
    'Raleway',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
