@import '/global.scss';

.player-button {
  // Remote button styles
  border: none;
  background: none;
  outline: none;
  padding: 0;

  cursor: pointer;

  .icon {
    width: $iconSize;
    height: $iconSize;
    background-size: $iconSize;
    filter: invert(100%);
    opacity: 0;
    transition: all ease 0.2s;
    margin: 0 10px;
    .player:hover & {
      opacity: .3;
    }
  }
}
