/**
 * Global scss configuration
 */

$loaderColor: #7f8c8d;
$bgColor: #242627;
$bgAlpha: 1;
$bgImage: 'https://images.unsplash.com/photo-1490023859957-aaf2fcc67fd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80';
$primaryColor: #fff;

$appWidth: 1024px;
$playerSize: 80px;
$playerFullSize: 480px;
