/**
 * Global scss configuration
 */

$loaderColor: #7f8c8d;
$bgColor: #242627;
$bgAlpha: 1;
$primaryColor: #fff;

$appWidth: 720px;
$playerSize: 120px;
$playerFullSize: 480px;
$iconSize: 24px;

$withBackdrop: false;
